* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.navbar {
    height: 64px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
}

.navcon {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100vw;
    padding: 0 32px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}


.Sign_in {
    background-color: rgba(59, 130, 246, 0.1);
    color: rgb(59, 130, 246);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
}

.Sign_in:hover {
    background-color: rgba(59, 130, 246, 0.2);
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
}

.logo-icon {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: #2563eb;
    display: grid;
    place-items: center;
    color: white;
}

.logo-icon .icon{
    width: 25px;
    fill: white;
}

.nav-links {
    display: flex;
    gap: 24px;
    font-weight: 500;
    color: #475569;
}

.nav-links span {
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #475569;
}

.nav-links .active {
    color: #2563eb;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}


body {
    background: #f6f8fb;
    color: #0f172a;
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.check {
    font-size: 42px;
    color: #22c55e;
}

h1 {
    margin-top: 10px;
    font-size: 32px;
}

p {
    color: #64748b;
    margin-top: 6px;
}

.card {
    background: white;
    margin-top: 40px;
    padding: 32px;
    width: 420px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,.08);
    text-align: center;
}

.qr-box {
    background: #f8fafc;
    padding: 20px;
    border-radius: 12px;
}

.qr{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.qr img {
    height: 180px;
}

.qr-box span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #64748b;
}

.code-label {
    margin-top: 20px;
}

.code-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.code {
    flex: 1;
    padding: 12px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    font-weight: 600;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.secondary {
    flex: 1;
    background: #f1f5f9;
    color: #0f172a;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}
