* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background: #f6f8fb;
    color: #0f172a;
}

.navbar {
    height: 64px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
}

.navcon {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100vw;
    padding: 0 32px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}


.Sign_in {
    background-color: rgba(59, 130, 246, 0.1);
    color: rgb(59, 130, 246);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
}

.Sign_in:hover {
    background-color: rgba(59, 130, 246, 0.2);
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
}

.logo-icon {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: #2563eb;
    display: grid;
    place-items: center;
    color: white;
}

.logo-icon .icon{
    width: 25px;
    fill: white;
}

.nav-links {
    display: flex;
    gap: 24px;
    font-weight: 500;
    color: #475569;
}

.nav-links a {
    text-decoration: none;
    color: #475569;
    cursor: pointer;
}


.nav-links .active {
    color: #2563eb;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}



.container {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 32px;
}

.header p {
    color: #64748b;
}

.primary-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.card {
    background: white;
    margin-top: 40px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f8fafc;
    color: #64748b;
}

th, td {
    padding: 20px;
    text-align: left;
}

tbody tr {
    border-top: 1px solid #e5e7eb;
}

td span {
    display: block;
    font-size: 13px;
    color: #64748b;
}

a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.footer {
    border-top: 1px solid #e5e7eb;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    color: #64748b;
    font-size: 14px;
}
